// Variable

$baseFontColor: #2c3e50;
$mainColor: #232D4C;
$blue: #192139;
$darkBlue: #273255;
$lightBlue: #2d3960;
$purple: #9b80fa;
$lightPurple: #54549b;
$red: #c1493f;
$green: #42b983;
$yellow: #efb126;
$gray: #97918a;
$lightGray: #d2c8c1;
